input, textarea {
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid var(--card-border);
    padding: 8px;
    flex-grow: 1;
}

button {
    font-size: 18px;
    border-radius: 4px;
    border: none;
    padding: 8px 16px;
    background-color: var(--data-color-2);
    font-weight: 600;
    color: var(--background);
    cursor: pointer;
}