@charset "utf-8";
// TODO verity the font weights
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700,900&display=swap');

$grey: #707070;

$font-family: "Nunito", sans-serif;
$bg: white;
$mid: $grey;
$text: black;

body {
  background-color: $bg;
  max-width: 800px;
  margin: auto !important;
}


@import "./typography.scss";
@import "./menu.scss";
@import "./projects.scss";
@import "./layout.scss";