@charset "utf-8";
// @import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
// TODO verity the font weights
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700,900&display=swap');

// Colour palette
$blue: #70a1ff;
$dark-blue: #1e90ff;
$black: #111;
$purple: #B33771;
$dark-purple: #6D214F;
$grey: #eee;

// Bulma overwrite
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $black;
$grey-light: $grey;
$primary: $blue;
$link: $blue;
$link-hover: $dark-blue;

$footer-background-color: white;

$gap: 580px;

body {
  max-width: 800px;
  margin: auto !important;
}

@import "./menu.scss";
@import "./projects.scss";
@import "../node_modules/bulma/bulma.sass";