@import "./typography.scss";
@import "./menu.scss";
@import "./projects.scss";
@import "./layout.scss";
@import "./tags.scss";
@import "./footer.scss";
@import "./skeleton.scss";
@import "./scrollbar.scss";
@import "./themes.scss";
@import "./numbers.scss";
@import "./card.scss";
@import "./spook/index.scss";

body {
    background-color: var(--background); 
    color: var(--text);
    margin: 0;
}

.level {
    display: flex;
    justify-content: space-between;
    a {
        i {
            color: var(--text);
            &:hover {
                color: var(--heading);
            }
        }
    }
}