@import "./typography.scss";
@import "./menu.scss";
@import "./projects.scss";
@import "./layout.scss";
@import "./tags.scss";
@import "./footer.scss";
@import "./skeleton.scss";
@import "./scrollbar.scss";
@import "./themes.scss";
@import "./numbers.scss";
@import "./card.scss";
@import "./warmup.scss";
@import "./bento.scss";
@import "./forms.scss";

body {
    background-color: var(--background); 
    color: var(--text);
    margin: 0;
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

::selection {
    background-color: var(--selection-color);
}

::-moz-selection {
    background-color: var(--selection-color);
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-400);
}

.level {
    display: flex;
    justify-content: space-between;
    a {
        i {
            color: var(--text);
            &:hover {
                color: var(--heading);
            }
        }
    }
}