$text: black !default;
$bg: white !default;
$mid: grey !default;

.menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.links {
  display: flex;
  flex-direction: row;
}

.menu-item {
  padding-bottom: 2px;
  margin: 10px 10px;
  font-weight: normal;

  a {
    text-decoration: none;
    &:hover {
      border-bottom: $white 2px solid;
    }
    &.is-active {
      color:$text;
      border-bottom: $white 2px solid;
    }
  }
}

@media only screen and (max-width: 700px) {
  .menu {
    flex-direction: column;
  }
}