.menu {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  .menu {
    flex-direction: column;
  }
}

.menu > div {
    margin: auto 0;
}

.links {
    display: flex;
}

.menu-item > a {
    padding-left: 8px;
    text-decoration: none;
    color: var(--text);
    &:hover {
        color:var(--heading);
    }
}

a.is-active {
    color: var(--heading) !important;
}