.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

@media only screen and (max-width: 800px) {
  .projects {
    grid-template-columns: 1fr;
  }
}

.links {
  padding: 12px 0;
  padding-bottom: 0;
  a {
    i:hover {
      color: var(--heading);
    }
  }
}