::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    float:right;
    position: fixed;
    display: contents;
}
 
::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(255,255,255,0.5);
  animation-duration: 0.1s;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background-color: rgba(255,255,255,0.8);
}