.skeleton {
  width: 100%;
  background: var(--background);
  background: linear-gradient(90deg, white 0%, rgb(176, 176, 176) 100%); 
  background-size: 400% 400%;
  border-radius: 5px;
  margin: 30px 0;
  -webkit-animation: AnimationName 1s ease infinite;
  -moz-animation: AnimationName 1s ease infinite;
  animation: AnimationName 1s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 20%}
  50%{background-position:100% 81%}
  100%{background-position:0% 20%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 20%}
  50%{background-position:100% 81%}
  100%{background-position:0% 20%}
}
@keyframes AnimationName {
  0%{background-position:0% 20%}
  50%{background-position:100% 81%}
  100%{background-position:0% 20%}
}