.tag {
  background-color: var(--accent);
  color: var(--heading);
  border-radius: 100px;
  padding: 4px 8px;
  margin-right: 8px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  vertical-align: middle;
}