.tag {
  border-radius: 1em;
  margin-right: 5px;
  padding: 0.2em 0.8em;
  font-size: 0.8em;
}

.oss {
  background-color: rgb(53, 70, 75);
  color: white
}

.desktop {
  background-color: coral;
  color: white;
}

.web {
  background-color: rgb(170, 126, 79);
  color: white;
}