.tag {
  background-color: var(--text);
  color: var(--background);
  border-radius: 5px;
  padding: 4px;
  margin-right: 8px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  vertical-align: middle;
}