:root {
  --background: #000;
  --heading: white;
  --text: #aaaaaa;
  --accent: #4790d4;
  --codeBg: #111111
}

@media (prefers-color-scheme: light) {
  :root {
    --background: white;
    --heading: black;
    --text: #666;
    --accent: #4c9ae2;
    --codeBg: #eeeeee
  }
}

