:root {
  --background: #000;
  --heading: white;
  --secondary-bg: rgb(20, 20, 20);
  --text: #ababab;
  --codeBg: var(--text)
}

// @media (prefers-color-scheme: light) {
// :root {
//   --background: white;
//   --heading: black;
//   --secondary-bg: white;
//   --text: #555;
//   --codeBg: var(--text)
// }
  
// }

