@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

* {
  color: #aaa;
}

body {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  color:white;
  font-weight: 600;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 36px;
}

p {
  font-weight: 400;
}

a {
  font-family: 'Nunito';
  color: white;
}