$font-family: "Nunito", sans-serif !default;

* {
  font-family: $font-family;
  // color: var(--text);
  // font-weight: 300;
}

a {
  text-decoration: none;
  color: var(--mid);
  font-weight: 600;
  &:hover {
    color: var(--text);
  }
  i {
    color: var(--mid);
    &:hover {
      color: var(--text);
    }
  }
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.2em;
}