@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700,900&display=swap");
body {
  background-color: black;
  max-width: 800px;
  margin: auto !important; }

* {
  font-family: "Nunito", sans-serif;
  color: white;
  font-weight: 300; }

a {
  text-decoration: none;
  color: #808080;
  font-weight: 600; }
  a:hover {
    color: white; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h5 {
  font-size: 1.2em; }

.menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between; }

.links {
  display: flex;
  flex-direction: row; }

.menu-item {
  padding-bottom: 2px;
  margin: 10px 10px;
  font-weight: normal; }
  .menu-item a {
    text-decoration: none; }
    .menu-item a:hover {
      border-bottom: white 2px solid; }
    .menu-item a.is-active {
      color: white;
      border-bottom: white 2px solid; }

@media only screen and (max-width: 700px) {
  .menu {
    flex-direction: column; } }

.project {
  margin-bottom: 2em;
  border-radius: 12px;
  border: #808080 2px solid;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-areas: "img info" "img info" "img buttons"; }
  .project .info {
    box-sizing: border-box;
    padding: 0 1em;
    grid-area: "info";
    bottom: 10px;
    width: 100%; }
    .project .info .links {
      margin: 1em;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
  .project img {
    grid-area: "img";
    width: 300px;
    object-fit: cover;
    object-position: 0% 0%;
    border-radius: 10px 0 0 10px; }
  .project:hover {
    border-color: white; }

@media only screen and (max-width: 700px) {
  .project {
    display: block; }
    .project img {
      padding: 0;
      width: 100%;
      border-radius: 10px 10px 0 0; }
    .project .info {
      padding: 0 10px; } }

section {
  padding: 1em; }

footer {
  text-align: center; }
