@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700,900&display=swap");
:root {
  --bg: white;
  --mid: #808080;
  --text: #101010;
  --off-white: #f5f5f5ff;
  --off-bg: #ddd8e8ff;
  --purpleish: #b7adcfff;
  --cyber-grape: #5b4b81ff;
  --off-black: #1b1627; }

.dark-theme {
  --bg: #101010;
  --mid: #606060;
  --text: white; }

* {
  box-sizing: border-box; }

body {
  background-color: var(--bg);
  margin: 0; }

header {
  padding: 1em; }

section {
  min-height: 60vh; }

.main {
  background-color: var(--off-bg);
  color: var(--cyber-grape);
  padding-top: 6em;
  font-weight: 300; }

.content {
  width: 800px;
  margin: auto; }

.footer {
  color: white;
  padding: 3em;
  font-weight: bold;
  background-color: var(--off-black);
  box-shadow: 0 50vh 0 50vh var(--off-black); }

.footer > .content > p {
  color: white; }

* {
  font-family: "Open sans", "Nunito", sans-serif; }

a {
  text-decoration: none;
  color: var(--mid);
  font-weight: 600; }
  a:hover {
    color: var(--text); }
  a i {
    color: var(--mid); }
    a i:hover {
      color: var(--text); }

h1 {
  font-size: 2em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h5 {
  font-size: 1.2em; }

.menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between; }

.links {
  display: flex;
  flex-direction: row; }

.menu-item {
  padding-bottom: 2px;
  margin: 10px 10px;
  font-weight: normal; }
  .menu-item a {
    text-decoration: none; }
    .menu-item a:hover {
      border-bottom: var(--text) 2px solid; }
    .menu-item a.is-active {
      color: var(--text);
      border-bottom: var(--text) 2px solid; }

@media only screen and (max-width: 700px) {
  .menu {
    flex-direction: column; } }

.project:hover {
  border-color: var(--text); }

section {
  padding: 1em; }

footer {
  text-align: center; }

.level {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly; }
